body{
	margin-left:5px;
	margin-right:5px
}
footer{
	background-color: #101010;
color: #ccc;
padding: 4px;
}
a{
	text-decoration: none;
	font-style: none;
	
}
select{
	width: 100%;
}
.banners{
	text-decoration: none;
	list-style: none;
	margin-top: 3px;
}
.banners>a>img{
	border-radius: 3px;

filter: grayscale(80%);

-webkit-filter: grayscale(100%);

transition:filter 0.4s;

-webkit-transition:-webkit-filter 1s;
	
}
.banners>a>img:hover{
	filter: grayscale(0);
 
-webkit-filter: grayscale(0);
 
}
.social{
	display: inline-block;
	margin-left: 10px;
}